{% load static %}
<!DOCTYPE html>
<html lang="en">
<style>
  span{
    color:white
  }
</style>
<head>
<!--  some necessary things, don't bother  -->
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>WideCity Admin</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
<!-- you can change this setting if you want to edit the icon of the website  -->
  <link href="{% static 'admin_assets/img/favicon.png'%}" rel="icon">
  <link href="{% static 'admin_assets/img/apple-touch-icon.png'%}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'admin_assets/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
  <link href="{% static 'admin_assets/vendor/bootstrap-icons/bootstrap-icons.css'%}" rel="stylesheet">
  <link href="{% static 'admin_assets/vendor/boxicons/css/boxicons.min.css'%}" rel="stylesheet">
  <link href="{% static 'admin_assets/vendor/quill/quill.snow.css'%}" rel="stylesheet">
  <link href="{% static 'admin_assets/vendor/quill/quill.bubble.css'%}" rel="stylesheet">
  <link href="{% static 'admin_assets/vendor/remixicon/remixicon.css'%}" rel="stylesheet">
  <link href="{% static 'admin_assets/vendor/simple-datatables/style.css'%}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'admin_assets/css/style.css'%}" rel="stylesheet">


<!--  cropper cdn link-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js" integrity="sha512-ooSWpxJsiXe6t4+PPjCgYmVfr1NS5QXJACcR/FPpsdm6kqG1FmQ2SVyg2RXeVuCRBLr0lWHnWJP6Zs1Efvxzww==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.css" integrity="sha512-+VDbDxc9zesADd49pfvz7CgsOl2xREI/7gnzcdyA9XjuTxLXrdpuz21VVIqc5HPfZji2CypSbxx1lgD7BgBK5g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.js" integrity="sha512-ZK6m9vADamSl5fxBPtXw6ho6A4TuX89HUbcfvxa2v2NYNT/7l8yFGJ3JlXyMN4hlNbz0il4k6DvqbIW5CCwqkw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css" integrity="sha512-0SPWAwpC/17yYyZ/4HSllgaK7/gg9OlVozq8K7rf3J8LvCjYEEIfzzpnA2/SSjpGIunCSD18r3UhvDcu/xncWA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- ======================================================
  this template is developed by wide_city developers
  copyright
  contact to +91 9946658045 for more info about the template
  ======================================================== -->

  <script type = "text/javascript" src = "https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</head>


<!--beginning of the body element-->
<!-- background-image: url(media/4k_images/space.jpg) -->
<body style="background-color: rgb(0, 0, 0);;background-size: cover;background-repeat: no-repeat;background-attachment: fixed;color:white">
  <div style="background-color: rgba(0,0,0,.5);">
 <header id="header" class="header fixed-top d-flex align-items-center" style="background-color: rgba(0,0,0,0);">
    <div class="d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center">
        <span class="d-none d-lg-block" style="color:rgb(255,255,255)">WideCity</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn" style="color:rgb(255,255,255)"></i>
    </div>
<!-- End Logo -->

    <div class="search-bar" style="color:rgb(255,255,255)">
      <form class="search-form d-flex align-items-center" style="color:rgb(255,255,255)" method="POST" action="#">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div>
 <!-- End Search Bar -->


<!--  beginning of the search bar  -->
    <nav class="header-nav ms-auto" style="color:rgb(255,255,255)">
      <ul class="d-flex align-items-center">
        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li>
<!-- End Search Icon-->

<!--  beginning notification icon ( bell button )-->
        <li class="nav-item dropdown">
          <a class="nav-link nav-icon" style="color:rgb(255,255,255)" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-bell"></i>  <!--  this is the bell icon source-->
            <span class="badge bg-primary badge-number">1</span> <!-- number on the top of bell icon -->
          </a>
<!--     things inside     -->
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
            <li class="dropdown-header">
              You have 4 new notifications
              <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2" style="color:rgb(255,255,255)">View all</span></a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li class="notification-item">
              <i class="bi bi-exclamation-circle text-warning"></i>
              <div>
                <h4>Lorem Ipsum</h4>
                <p>Quae dolorem earum veritatis oditseno</p>
                <p>30 min. ago</p>
              </div>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li class="notification-item">
              <i class="bi bi-x-circle text-danger"></i>
              <div>
                <h4>Atque rerum nesciunt</h4>
                <p>Quae dolorem earum veritatis oditseno</p>
                <p>1 hr. ago</p>
              </div>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li class="notification-item">
              <i class="bi bi-check-circle text-success"></i>
              <div>
                <h4>Sit rerum fuga</h4>
                <p>Quae dolorem earum veritatis oditseno</p>
                <p>2 hrs. ago</p>
              </div>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li class="notification-item">
              <i class="bi bi-info-circle text-primary"></i>
              <div>
                <h4>Dicta reprehenderit</h4>
                <p>Quae dolorem earum veritatis oditseno</p>
                <p>4 hrs. ago</p>
              </div>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li class="dropdown-footer">
              <a href="#">Show all notifications</a>
            </li>
          </ul><!-- End Notification Dropdown Items -->
        </li>
<!-- End Notification Nav -->


<!--  beginning of message or chat notification -->
        <li class="nav-item dropdown">
          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown" style="color:rgb(255,255,255)">
            <i class="bi bi-chat-left-text"></i>
            <span class="badge bg-success badge-number">3</span>
          </a><!-- End Messages Icon -->
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
            <li class="dropdown-header">
              You have 3 new messages
              <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li class="message-item">
              <a href="#">
                <img src="{% static 'admin_assets/img/messages-1.jpg'%}" alt="" class="rounded-circle">
                <div>
                  <h4>Maria Hudson</h4>
                  <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                  <p>4 hrs. ago</p>
                </div>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li class="message-item">
              <a href="#">
                <img src="{% static 'admin_assets/img/messages-2.jpg'%}" alt="" class="rounded-circle">
                <div>
                  <h4>Anna Nelson</h4>
                  <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                  <p>6 hrs. ago</p>
                </div>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li class="message-item">
              <a href="#">
                <img src="{% static 'admin_assets/img/messages-3.jpg'%}" alt="" class="rounded-circle">
                <div>
                  <h4>David Muldon</h4>
                  <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                  <p>8 hrs. ago</p>
                </div>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li class="dropdown-footer">
              <a href="#">Show all messages</a>
            </li>
          </ul><!-- End Messages Dropdown Items -->
        </li>
<!-- End Messages Nav -->


<!--///////////////////////////////////////////////////    admin profile     //////////////////////////////////////////////////////////////////////////////////-->

        <li class="nav-item dropdown pe-3">
        <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
<!--      this is where you have to give the image source of admin profile    -->
            <img src="{% static 'admin_assets/img/profile-img.jpg'%}" alt="Profile" class="rounded-circle">
<!--     this is where you should give the link to the admin name     -->
            <span class="d-none d-md-block dropdown-toggle ps-2">{{admin.full_name}}</span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile" style="color:rgb(255,255,255)">
            <li class="dropdown-header">
              <h6>Kevin Anderson</h6>
              <span>Web Designer</span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                <i class="bi bi-person"></i>
                <span>My Profile</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                <i class="bi bi-gear"></i>
                <span>Account Settings</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="pages-faq.html">
                <i class="bi bi-question-circle"></i>
                <span>Need Help?</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="#">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>
          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->
      </ul>
    </nav><!-- End Icons Navigation -->
  </header><!-- End Header -->
<aside id="sidebar" class="sidebar" xmlns="http://www.w3.org/1999/html" style="background-color: rgba(0,0,0,0);">

    <ul class="sidebar-nav" id="sidebar-nav" >

      <li class="nav-item">
        <a class="nav-link " href="/admin_panel" style="background-color: rgba(37, 37, 100, 0.5);border: 2px solid rgb(134, 132, 132);">
          <i class="bi bi-grid"></i>
          <span >Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#manage_customer" data-bs-toggle="collapse" href="#" style="background-color: rgba(37, 37, 100, 0.5);border: 2px solid rgb(134, 132, 132);">
          <i class="bi bi-menu-button-wide"></i><span>Manage Users</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="manage_customer" class="nav-content collapse " data-bs-parent="#sidebar-nav">


          <li>
            <a href="/admin_list_customer">
              <i class="bi bi-circle"></i><span>List Users</span>
            </a>
          </li>


        </ul>
      </li><!-- End Components Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#manage_product" data-bs-toggle="collapse" href="#" style="background-color: rgba(37, 37, 100, 0.5);border: 2px solid rgb(134, 132, 132);">
          <i class="bi bi-journal-text"></i><span>Manage Products</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="manage_product" class="nav-content collapse" data-bs-parent="#sidebar-nav">
          <li>
            <a href="/admin_add_product" >
              <i class="bi bi-circle"></i><span>Add new Product</span>
            </a>
          </li>
          <li>
            <a href="/admin_list_product">
              <i class="bi bi-circle"></i><span>List Product</span>
            </a>
          </li>

        </ul>
      </li><!-- End Forms Nav -->



      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#manage-category" data-bs-toggle="collapse" href="#" style="background-color: rgba(37, 37, 100, 0.5);border: 2px solid rgb(134, 132, 132);">
          <i class="bi bi-layout-text-window-reverse"></i><span>Manage Category/SubCategory</span><i class="bi bi-chevron-down ms-auto" ></i>
        </a>
        <ul id="manage-category" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="admin_list_category">
              <i class="bi bi-circle"></i><span>List Category</span>
            </a>
          </li>
        </ul>
      </li><!-- End Tables Nav -->


      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#manage-orders" data-bs-toggle="collapse" href="#" style="background-color: rgba(37, 37, 100, 0.5);border: 2px solid rgb(134, 132, 132);">
          <i class="bi bi-layout-text-window-reverse"></i><span>Manage Orders</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="manage-orders" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/admin_list_orders">
              <i class="bi bi-circle"></i><span>List Orders</span>
            </a>
          </li>
        </ul>
      </li><!-- End Tables Nav -->


      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#manage_banner" data-bs-toggle="collapse" href="#" style="background-color: rgba(37, 37, 100, 0.5);border: 2px solid rgb(134, 132, 132);" >
          <i class="bi bi-layout-text-window-reverse"></i><span>Manage Banner</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="manage_banner" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/admin_edit_banner">
              <i class="bi bi-circle"></i><span>Edit Banner</span>
            </a>
          </li>
        </ul>
      </li><!-- End Tables Nav -->

      <!-- <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#manage_company_info" data-bs-toggle="collapse" href="#" style="background-color: rgba(37, 37, 100, 0.5);border: 2px solid rgb(134, 132, 132);">
          <i class="bi bi-layout-text-window-reverse"></i><span>Manage Company information</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="manage_company_info" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/admin_edit_company_info">
              <i class="bi bi-circle"></i><span>Edit company information</span>
            </a>
          </li>
        </ul>
      </li>End Tables Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#sales_report" data-bs-toggle="collapse" href="#" style="background-color: rgba(37, 37, 100, 0.5);border: 2px solid rgb(134, 132, 132);">
          <i class="bi bi-layout-text-window-reverse"></i><span>Sales Report</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="sales_report" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/admin_sales_report">
              <i class="bi bi-circle"></i><span>View Sales Report</span>
            </a>
          </li>
        </ul>
      </li><!-- End Tables Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#manage_coupon" data-bs-toggle="collapse" href="#" style="background-color: rgba(37, 37, 100, 0.5);border: 2px solid rgb(134, 132, 132);">
          <i class="bi bi-layout-text-window-reverse"></i><span>Manage Coupon</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="manage_coupon" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/admin_remove_coupon">
              <i class="bi bi-circle"></i><span>List Available Coupons</span>
            </a>
          </li>
        </ul>
      </li><!-- End Tables Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#manage_offers" data-bs-toggle="collapse" href="#" style="background-color: rgba(37, 37, 100, 0.5);border: 2px solid rgb(134, 132, 132);">
          <i class="bi bi-layout-text-window-reverse"></i><span>Manage Offers</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="manage_offers" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/admin_category_offers">
              <i class="bi bi-circle"></i><span>Category Offers</span>
            </a>
          </li>          
          <li>
            <a href="/admin_product_offers">
              <i class="bi bi-circle"></i><span>Product Offers</span>
            </a>
          </li>
          <!-- <li>
            <a href="/admin_remove_coupon">
              <i class="bi bi-circle"></i><span>Referal Offers</span>
            </a>
          </li> -->
        </ul>
      </li><!-- End Tables Nav -->


    </ul>
  </aside>
{% block content %}
{% endblock %}
  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>widecity</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
      Designed by <a href="https://bootstrapmade.com/">WideCity Developers</a>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'admin_assets/vendor/apexcharts/apexcharts.min.js'%}"></script>
  <script src="{% static 'admin_assets/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
  <script src="{% static 'admin_assets/vendor/chart.js/chart.min.js'%}"></script>
  <script src="{% static 'admin_assets/vendor/echarts/echarts.min.js'%}"></script>
  <script src="{% static 'admin_assets/vendor/quill/quill.min.js'%}"></script>
  <script src="{% static 'admin_assets/vendor/simple-datatables/simple-datatables.js'%}"></script>
  <script src="{% static 'admin_assets/vendor/tinymce/tinymce.min.js'%}"></script>
  <script src="{% static 'admin_assets/vendor/php-email-form/validate.js'%}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'admin_assets/js/main.js'%}"></script>
</div>
</body>

</html>