{% extends 'admin_base.html' %}
{% block content %}

<head>
    <style>
        .input_box {
            border-radius: 5px;
            border: .5px solid rgb(4, 4, 4);
            padding: 5px 10px;
        }

        .sign_button {
            border-radius: 5px;
            border: 1px solid rgb(107, 100, 209);
            background-color: rgb(84, 84, 225);
            color: white;
            padding: 3px 10px;
        }

        .sign_button:hover {
            background-color: white;
            color: blue;
            border: 1px solid white;
        }

        .links {
            color: rgb(0, 0, 0);
        }

        .links:hover {

            font-weight: bold;
            color: rgb(0, 0, 0);
        }
        .column{
            color:rgb(0, 0, 0);
            margin:0px 10px;
        }
        label{
            color:rgb(15, 97, 15);
            font-weight: bold;
        }
        .lightfont{
            font-weight: bold;
            color: rgb(0, 0, 0);
        }
        #next_status{
            background-color:rgba(0, 0, 0,0);
            border-radius: 10px;
            color:rgb(0, 0, 0);
            border:1px solid rgb(0, 0, 0);
            font-size: 12px;padding:10px;
        }
        #next_status:hover{
            background-color: rgb(0, 0, 0);
            color: rgb(255, 255, 255);
        }
    </style>
</head>


    <div style="display: flex;justify-content: center;">
        <div
            style="border:2px solid rgb(0, 0, 0);margin:20vh;padding:50px;border-radius: 10px;color: rgb(10, 9, 9);width: 60%;height: 100%;box-shadow: 0px 20px 10px;">
            <h3 style="color: rgb(0, 0, 0);margin: 0px;font-weight: bold;">Order Details</h3>
            <p style="font-size: 12px;margin: 0px 2px;">see the details of this order</p>
            <div id="message" style="color: rgb(231, 6, 6);font-size: 12px;"></div>

            <div style="margin-top: 10px;">

                <div style="display: flex;justify-content: space-between;margin: 10px;">
                    <p class="column">Name</p>
                    <p type="text" id="user_email" class="column lightfont">{{order.user.full_name}}</p>
                </div>
                <div style="display: flex;justify-content: space-between;margin: 10px;">
                    <p class="column">contact Number</p>
                    <p type="password" id="user_password" class="column lightfont">{{order.user.contact_number}}</p>
                </div>
                <div style="display: flex;justify-content: space-between;margin: 10px;">
                    <p class="column">Product Name</p>
                    <p type="password" id="user_password" class="column lightfont">{{order.product.name}}</p>
                </div>                
                <div style="display: flex;justify-content: space-between;margin: 10px;">

                    {% if next_status == '' %}
                    {% else %}
                    <p class="column">Change status to</p>
                    <button id="next_status" onclick="user_confirm('{{order.id}}')" value="{{next_status}}">{{next_status}}</button>
                    {% endif %}
                    <!-- <select onchange="status_change('{{order.id}}')" id="status_change">
                        <option selected>{{order.status}}</option>
                        <option>packing</option>
                        <option>On The Way</option>
                        <option>Delivered</option>
                        <option>Un Delivered</option>
                    </select> -->
                </div> 
                <div >
                    <div class="column">Ordered Address</div>
                    <div style="border: 1px solid rgb(0, 0, 0);border-radius:10px;padding:25px;width: 100%;margin: 10px;">

                        <div style="display: flex;justify-content: space-between;">      
                            <label>Email Address</label>                 
                            <div>{{address.email}}</div>
                        </div>   
                        <div style="display: flex;justify-content: space-between;">      
                            <label>Full Name</label>                 
                            <div>{{address.first_name}}{{address.last_name}}</div>
                        </div>                          
                        <div style="display: flex;justify-content: space-between;">      
                            <label>Building Name</label>                 
                            <div>{{address.building_name}}</div>
                        </div>                            
                        <div style="display: flex;justify-content: space-between;">      
                            <label>Street</label>                 
                            <div>{{address.street}}</div>
                        </div>                            
                        <div style="display: flex;justify-content: space-between;">      
                            <label>City</label>                 
                            <div>{{address.city}}</div>
                        </div>                             
                        <div style="display: flex;justify-content: space-between;">      
                            <label>State</label>                 
                            <div>{{address.state}}</div>
                        </div>                             
                        <div style="display: flex;justify-content: space-between;">      
                            <label>Pincode</label>                 
                            <div>{{address.pincode}}</div>
                        </div>                             
                        <div style="display: flex;justify-content: space-between;">      
                            <label>Contact Number</label>                 
                            <div>{{address.contact}}</div>
                        </div>                              
                        <div style="display: flex;justify-content: space-between;">      
                            <label>Alternative Contact Number</label>                 
                            <div>{{address.alt_contact}}</div>
                        </div>  

                
                    </div>
                </div>  
                <!-- <div style="display: flex;justify-content: space-between;margin: 10px;">
                    <button style="border-radius: 5px;color:rgb(223, 221, 221);background-color: rgb(44, 95, 44);">save changes</button>

                </div> -->
                
                
            </div>
        </div>
    </div>

    <script>
        function validate() {
            var user_email = document.getElementById('user_email').value
            var user_email_err = document.getElementById('user_email_err')
            var user_password = document.getElementById('user_password').value
            var user_password_err = document.getElementById('user_password_err')
            var message = document.getElementById('message')

            if (user_email == '') {
                console.log('Email field cannot be empty');
                user_email_err.innerHTML = 'Email field cannot be empty.'
            }            
            else if (user_password == '') {
                console.log('Password cannot be empty');
                user_password_err.innerHTML = 'Password Cannot be empty'
            }
            else {
                console.log('trying to log in with user data');
                try_to_signin(user_email,user_password)
            }
        }

        function try_to_signin(user_email,user_password){

            $.ajaxSetup({
                data:{csrfmiddlewaretoken :'{{ csrf_token }}'}
            })

            $.ajax({
                url:'/user_sign_in',
                method:'post',
                data:{'user_email':user_email,'user_password':user_password},
                success:function(response){
                    resp = response['user_authentication_status']
                    if(resp == 'user_not_found'){
                        console.log('user_not_found_error')
                        message.innerHTML = 'user not found'
                    }
                    else if(resp == 'wrong_password'){
                        console.log('wrong password error')
                        message.innerHTML='wrong password'
                    }                    
                    else if(resp == 'user_not_active'){
                        console.log('user is not active')
                        message.innerHTML='user is not active'
                    }
                    else if(resp == 'success'){
                        console.log('user is nice')
                        window.location.href='/user_home'
                    }
                    // window.location.href = '/user_home'
                },
            })
        }

        function status_change(order_id){

            console.log('did anyone called me')

        
            order_status = document.getElementById('next_status')
            console.log(order_status.value)

            $.ajaxSetup({
                data:{csrfmiddlewaretoken :'{{ csrf_token }}'}
            })

            $.ajax({
                url:'/admin_change_order_status',
                method:'post',
                data:{'status':order_status.value,'order_id':order_id},
                success:function(response){
                    resp = response['status']
                    if(resp == 'success'){
                        console.log('order_status in server changed succesfully')
                        window.location.reload()
                        // message.innerHTML = 'user not found'
                    }
                }
                })
            
        }

        function user_confirm(id){
            swal({
                title: 'Are you sure to change the status to {{next_status}}?',
                text: 'Once changed, you will not be able to change the status to previous state!',
                icon: 'warning',
                buttons: true,
                dangerMode: true,
            })
            .then((willDelete) => {

                if (willDelete) {
                swal('Status changed to {{next_status}}', {
                    icon: 'success',
                });
                status_change(id)
                } else {
                swal('Status not changed');
                return false;
                }
                
            });
}
    </script>

    {% endblock %}