{% extends 'user_base.html' %}
{% block content %}


    <main class="main">
        <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
            <div class="container">
                <h1 class="page-title">Add Delivery Address<span>WideCity</span></h1>
            </div><!-- End .container -->
        </div><!-- End .page-header -->
        <nav aria-label="breadcrumb" class="breadcrumb-nav">
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Shop</a></li>
                    <li aria-current="page" class="breadcrumb-item active">Checkout</li>
                </ol>
            </div><!-- End .container -->
        </nav><!-- End .breadcrumb-nav -->

        <div class="page-content">
            <div class="/checkout">


                <div class="container" style="display:flex;justify-content:space-between;">
                    <div class="checkout-discount">
                        <form action="#">
                            <input class="form-control" id="checkout-discount-input" required type="text">
                            <label class="text-truncate" for="checkout-discount-input">Have a coupon? <span>Click here to enter your code</span></label>
                        </form>
                    </div><!-- End .checkout-discount -->



                    <form action="/user_edit_address/{{address_prefill.id}}" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-lg-9" id="new_address">
                                <h2 class="checkout-title">Add New Address</h2><!-- End .checkout-title -->
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label>First Name</label>
                                        <input class="form-control" name="first_name" required type="text" value="{{address_prefill.first_name}}">
                                    </div><!-- End .col-sm-6 -->

                                    <div class="col-sm-6">
                                        <label>Last Name</label>
                                        <input class="form-control" name="last_name" required type="text" value="{{address_prefill.last_name}}">
                                    </div><!-- End .col-sm-6 -->
                                </div><!-- End .row -->

                                <label>Building Name</label>
                                <input class="form-control" name="building_name" type="text" required value="{{address_prefill.building_name}}">

                                <label>Street</label>
                                <input class="form-control" required type="text" name="street" value="{{address_prefill.street}}">

                                <label>City</label>
                                <input class="form-control" name="city" placeholder="city  name" required
                                       type="text" value="{{address_prefill.city}}">

                                <input class="form-control" name="state" placeholder="state  name, suite, unit etc ..."
                                       required type="text" value="{{address_prefill.state}}">

                                <div class="row">
                                    <div class="col-sm-6">
                                        <label>Pincode </label>
                                        <input class="form-control" name="pincode" required type="number" value="{{address_prefill.pincode}}">
                                    </div><!-- End .col-sm-6 -->

                                    <div class="col-sm-6">
                                        <label>Contact </label>
                                        <input class="form-control" name="contact" required type="number" value="{{address_prefill.contact}}">
                                    </div><!-- End .col-sm-6 -->
                                </div><!-- End .row -->

                                <div class="row">
                                    <div class="col-sm-6">
                                        <label>Alternative Contact</label>
                                        <input class="form-control" name="alt_contact" required type="number" value="{{address_prefill.alt_contact}}">
                                    </div><!-- End .col-sm-6 -->
                                    
                                    <input type="submit">
                                </div><!-- End .custom-checkbox -->
                            </div><!-- End .col-lg-9 -->
                        </div>
                    </form>
{% endblock %}